{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <div class="uk-panel uk-panel-box uk-text-center">
                <h1>{{ .Params.sequence_name }}</h1>
            </div>
        </div>
    </div>

    <hr class="uk-grid-divider">

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-2">
            <h2>Sequence</h2>
            <dl class="uk-description-list-horizontal">
                <dt>Name</dt>
                <dd>{{ .Params.sequence_name }}</dd>
                <dt>Sequence type</dt>
                <dd>{{ .Params.sequence_type }}</dd>
                <dt>NCBI</dt>
                <dd>{{ .Params.sequence_ncbi }}</dd>
                <dt>{{ .Params.sequence_other_id_type }}</dt>
                <dd>{{ .Params.sequence_other_id }}</dd>
            </dl>
        </div>
        <div class="uk-width-medium-1-2">

        </div>
    </div>

    <hr class="uk-grid-divider">

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-2">
            <h2>Species</h2>
            <dl class="uk-description-list-horizontal">
                <dt>Name</dt>
                <dd><i>{{ .Params.species_name }}</i></dd>
                <dt>Ordo</dt>
                <dd>{{ .Params.species_ordo }}</dd>
                <dt>NCBI Taxonomy ID</dt>
                <dd><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ .Params.species_taxid }}" target="_blank">{{ .Params.species_taxid }}</a></dd>
            </dl>
        </div>
        <div class="uk-width-medium-1-2">

        </div>
    </div>

    <hr class="uk-grid-divider">

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <h2>Expression levels</h2>
            <div id="exptable"></div>
            <script>
                exptable = webix.ui({
                    container: "exptable",
                    view: "datatable",
                    css: "dormancybase_table",
                    columns: [
                        {id: "expression_level", map: "#data1#", header: ["Expression"], css: "rank", width: 100},
                        {id: "FC", map: "#data2#", header: ["Fold change"], width: 120},
                        {id: "methode", map: "#data3#", header: ["Method"], width: 250},
                        {id: "tissue", map: "#data4#", header: ["Tissue"], width: 250},
                        {id: "gender", map: "#data5#", header: ["Gender"], width: 75},
                        {id: "ref", map: "#data6#", hidden:true},
                        {id: "note", map: "#data8#", hidden:true},
                        {id: "ref_note", header: [""], width: 50, template:
                            "<a href='#ref#' class='uk-icon-external-link' target=\"_blank\"></a>&nbsp;<i class=\"uk-icon-commenting-o\" data-uk-tooltip=\"pos:'top-left'\" title=\"#note#\"></i>"
                        }
                    ],
                    autoheight: true,
                    autowidth: true,

                    datatype: "csv",
                    data: '{{ .Params.expressioncsv | safeHTML }}'
                });
                $(window).resize(function() {
                    if ($(window).width() < 850){
                        exptable.hideColumn("data2");
                        exptable.setColumnWidth("data0", 80);
                        exptable.setColumnWidth("data1", 80);
                        exptable.setColumnWidth("data3", 150);
                    }
                    if ($(window).width() >= 850){
                        exptable.showColumn("data2");
                        exptable.setColumnWidth("data0", 120);
                        exptable.setColumnWidth("data1", 120);
                        exptable.setColumnWidth("data3", 200);
                    }
                });
                if ($(window).width() < 850){
                    exptable.hideColumn("data2");
                    exptable.setColumnWidth("data0", 80);
                    exptable.setColumnWidth("data1", 80);
                }
                // <a style='color: #1F2421 !important;' href='#legend' class='uk-icon-justify uk-icon-question-circle'></a>
            </script>
        </div>
    </div>

    <hr class="uk-grid-divider">
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <a name="legend"></a>
            <h2>Legend</h2>

    </div>
</div>

{{ partial "offcanvas.html" . }}

{{ partial "analytics.html" . }}
</body>
</html>
